services:
  weaviate:
    image: cr.weaviate.io/semitechnologies/weaviate:1.25.3
    ports:
      - "8080:8080"
      - "50051:50051"
    volumes:
      - weaviate_data:/var/lib/weaviate
    environment:
      QUERY_DEFAULTS_LIMIT: 25
      AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED: 'true'
      PERSISTENCE_DATA_PATH: '/var/lib/weaviate'
      DEFAULT_VECTORIZER_MODULE: 'none'
      ENABLE_MODULES: ''
      CLUSTER_HOSTNAME: 'node1'

  rag-app:
    image: 340391544009.dkr.ecr.us-east-1.amazonaws.com/rag-knowledge-assistant:latest
    ports:
      - "8501:8501"
    env_file:
      - .env
    depends_on:
      - weaviate
    command: streamlit run app.py --server.port 8501 --server.address 0.0.0.0

volumes:
  weaviate_data:
